fastapi
uvicorn[standard]
sse-starlette
langchain==0.3.13
langchainhub==0.1.21
langchain_community==0.3.13
langchain_core==0.3.28
langchain_openai==0.2.14
openai==1.58.1
requests
SQLAlchemy==2.0.36
validators
fastembed==0.4.2
pypdf==5.1.0
duckduckgo_search==7.0.1
aiohttp
python-multipart
